# Task 1

In [1]:
# Коэффициенты модели
coef_time = 50
coef_pages = 100
coef_session = 30
coef_visitors = 0.1

# Входные данные студента A
time_spent = 10         # минут
pages_viewed = 5
avg_session = 8         # минут
unique_visitors = 1000

# Расчет прогноза трафика
traffic = (time_spent * coef_time +
           pages_viewed * coef_pages +
           avg_session * coef_session +
           unique_visitors * coef_visitors)

print("Прогноз среднедневного трафика:", traffic)

Прогноз среднедневного трафика: 1340.0

In [ ]:
1340

# Task 2

In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [19]:
df = pd.read_csv("Salary_dataset.csv")

In [20]:
df.head()

   Unnamed: 0  YearsExperience   Salary
0           0              1.2  39344.0
1           1              1.4  46206.0
2           2              1.6  37732.0
3           3              2.1  43526.0
4           4              2.3  39892.0

In [21]:
df = pd.read_csv("Salary_dataset.csv", names=["YearsExperience", "Salary"], skiprows=1)

In [22]:
df.head()

   YearsExperience   Salary
0              1.2  39344.0
1              1.4  46206.0
2              1.6  37732.0
3              2.1  43526.0
4              2.3  39892.0

In [24]:
# Разделение данных на обучающую и тестовую выборки
X = df[['YearsExperience']]
y = df['Salary']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=10)

# Обучение модели линейной регрессии
model = LinearRegression()
model.fit(X_train, y_train)

# Извлечение веса для признака YearsExperience и округление до 2 знаков
coef_years_experience = round(model.coef_[0], 2)
print("Вес для признака YearsExperience:", coef_years_experience)

Вес для признака YearsExperience: 9356.86

In [ ]:
9356.86

# Task 3

In [25]:
from sklearn.metrics import mean_absolute_error, r2_score

In [27]:
# Получение предсказаний для тестовой выборки
y_pred = model.predict(X_test)

# Расчет метрик
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

# Округление до двух знаков после запятой
mae_rounded = round(mae, 2)
r2_rounded = round(r2, 2)

print("MAE:", mae_rounded)
print("R2:", r2_rounded)

MAE: 2741.28
R2: 0.98

# Task 4

In [42]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [43]:
df = pd.read_csv("poly.csv")

In [44]:
df.head()

          X           Y
0 -3.292157  -53.468412
1  0.799528   -1.262560
2 -0.936214   -3.506193
3 -4.722680 -107.223200
4 -3.602674  -49.131950

In [45]:
# Определяем признаки (X) и целевую переменную (y)
X = df[['X']]
y = df['Y']

# Разбиение данных на обучающую (80%) и тестовую (20%) выборки
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=10)

# Обучение модели линейной регрессии на базовых параметрах
model = LinearRegression()
model.fit(X_train, y_train)

# Вычисление коэффициента детерминации (R²) для обучающей и тестовой выборок
r2_train = round(model.score(X_train, y_train), 2)
r2_test = round(model.score(X_test, y_test), 2)

print("R² на обучающей выборке:", r2_train)
print("R² на тестовой выборке:", r2_test)

R² на обучающей выборке: 0.67
R² на тестовой выборке: -5.66

# Task 5

In [46]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression

In [47]:
df = pd.read_csv("poly.csv")

In [48]:
# Определяем признаки и целевую переменную
X = df[['X']]
y = df['Y']

# Разбиваем данные на обучающую и тестовую выборки (80/20, random_state=10)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=10)

# Списки для сохранения метрик
results = []

print("Degree | R² (Train) | R² (Test)")
print("--------------------------------")

# Перебор степеней полинома от 2 до 7
for degree in range(2, 8):
    # Создаем pipeline: полиномизация признаков + линейная регрессия
    pipeline = Pipeline([
        ("poly", PolynomialFeatures(degree=degree)),
        ("linreg", LinearRegression())
    ])
    
    # Обучаем модель
    pipeline.fit(X_train, y_train)
    
    # Вычисляем R² на обучающей и тестовой выборках
    r2_train = pipeline.score(X_train, y_train)
    r2_test = pipeline.score(X_test, y_test)
    
    # Сохраняем результаты
    results.append({'degree': degree, 'r2_train': r2_train, 'r2_test': r2_test})
    
    print(f"{degree:6} | {r2_train:10.2f} | {r2_test:9.2f}")

# Определяем наихудшую (минимальную) метрику на тестовой выборке
worst_r2_test = min(r['r2_test'] for r in results)
worst_r2_test = round(worst_r2_test, 2)

print("\nНаихудшая метрика R² на тестовом датасете:", worst_r2_test)

Degree | R² (Train) | R² (Test)
--------------------------------
     2 |       0.88 |     -3.24
     3 |       0.98 |      0.84
     4 |       0.98 |      0.94
     5 |       0.98 |      0.90
     6 |       0.98 |     -0.74
     7 |       0.98 |     -1.29

Наихудшая метрика R² на тестовом датасете: -3.24

# Task 6

In [49]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import Ridge

In [50]:
df = pd.read_csv("poly.csv")

In [51]:
X = df[['X']]
y = df['Y']

# Разбиение данных на обучающую и тестовую выборки (80/20, random_state=10)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=10)

results = []

print("Alpha | R² (Train) | R² (Test)")
print("--------------------------------")
# Перебор параметра регуляризации alpha от 0 до 10
for alpha in [float(i) for i in range(0, 11)]:
    pipeline = Pipeline([
        ("poly", PolynomialFeatures(degree=7)),
        ("ridge", Ridge(alpha=alpha))
    ])
    pipeline.fit(X_train, y_train)
    r2_train = pipeline.score(X_train, y_train)
    r2_test = pipeline.score(X_test, y_test)
    results.append((alpha, r2_train, r2_test))
    print(f"{alpha:5.1f} | {r2_train:10.3f} | {r2_test:9.3f}")

# Выбираем значение alpha с максимальным R² на тестовой выборке
best_alpha, best_r2_train, best_r2_test = max(results, key=lambda x: x[2])
print("\nЛучшая метрика R² на тестовой выборке:", round(best_r2_test, 3))
print("Коэффициент регуляризации (alpha):", best_alpha)

Alpha | R² (Train) | R² (Test)
--------------------------------
  0.0 |      0.985 |    -1.287
  1.0 |      0.985 |     0.624
  2.0 |      0.985 |     0.902
  3.0 |      0.984 |     0.805
  4.0 |      0.984 |     0.621
  5.0 |      0.984 |     0.432
  6.0 |      0.984 |     0.263
  7.0 |      0.984 |     0.122
  8.0 |      0.984 |     0.007
  9.0 |      0.984 |    -0.085
 10.0 |      0.984 |    -0.156

Лучшая метрика R² на тестовой выборке: 0.902
Коэффициент регуляризации (alpha): 2.0

# Task 7

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [52]:
df = pd.read_csv("manufacturing.csv")

In [53]:
df.head()

,Temperature (°C),Pressure (kPa),Temperature x Pressure,Material Fusion Metric,Material Transformation Metric,Quality Rating
0,209.762701,8.050855,1688.769167,44522.217074,9.229576e+06,99.999971
1,243.037873,15.812068,3842.931469,63020.764997,1.435537e+07,99.985703
2,220.552675,7.843130,1729.823314,49125.950249,1.072839e+07,99.999758
3,208.976637,23.786089,4970.736918,57128.881547,9.125702e+06,99.999975
4,184.730960,15.797812,2918.345014,38068.201283,6.303792e+06,100.000000

In [54]:
# Определяем входные признаки и целевой признак
X = df.drop('Quality Rating', axis=1)
y = df['Quality Rating']

# Разбиваем данные на обучающую и тестовую выборки (80/20, random_state=10)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=10)

# Обучаем линейную регрессию на базовых параметрах
model = LinearRegression()
model.fit(X_train, y_train)

# Вычисляем метрику R² на обучающей и тестовой выборках
r2_train = model.score(X_train, y_train)
r2_test = model.score(X_test, y_test)

print("R² на обучающей выборке:", round(r2_train, 2))
print("R² на тестовой выборке:", round(r2_test, 2))

R² на обучающей выборке: 0.5
R² на тестовой выборке: 0.53

# Task 8

In [68]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression

In [92]:
df = pd.read_csv("manufacturing.csv")

In [93]:
df.head()

,Temperature (°C),Pressure (kPa),Temperature x Pressure,Material Fusion Metric,Material Transformation Metric,Quality Rating
0,209.762701,8.050855,1688.769167,44522.217074,9.229576e+06,99.999971
1,243.037873,15.812068,3842.931469,63020.764997,1.435537e+07,99.985703
2,220.552675,7.843130,1729.823314,49125.950249,1.072839e+07,99.999758
3,208.976637,23.786089,4970.736918,57128.881547,9.125702e+06,99.999975
4,184.730960,15.797812,2918.345014,38068.201283,6.303792e+06,100.000000

In [94]:
df.describe()

,Temperature (°C),Pressure (kPa),Temperature x Pressure,Material Fusion Metric,Material Transformation Metric,Quality Rating
count,3957.000000,3957.000000,3957.000000,3957.000000,3.957000e+03,3957.000000
mean,200.034704,14.815558,2955.321308,48127.183128,1.003645e+07,96.260179
std,58.135717,5.772040,1458.224940,23812.213513,7.599356e+06,12.992262
min,100.014490,5.003008,513.706875,10156.971955,9.999462e+05,1.000000
25%,150.871296,9.692984,1798.247303,27626.929091,3.433810e+06,99.941129
50%,198.603371,14.832557,2678.277782,44611.452164,7.833390e+06,99.999997
75%,251.366552,19.749680,3929.058261,67805.443846,1.588251e+07,100.000000
max,299.992804,24.999132,7365.018714,103756.181544,2.699783e+07,100.000000

In [95]:
X = df.drop('Quality Rating', axis=1)

In [96]:
X

,Temperature (°C),Pressure (kPa),Temperature x Pressure,Material Fusion Metric,Material Transformation Metric
0,209.762701,8.050855,1688.769167,44522.217074,9.229576e+06
1,243.037873,15.812068,3842.931469,63020.764997,1.435537e+07
2,220.552675,7.843130,1729.823314,49125.950249,1.072839e+07
3,208.976637,23.786089,4970.736918,57128.881547,9.125702e+06
4,184.730960,15.797812,2918.345014,38068.201283,6.303792e+06
...,...,...,...,...,...
3952,156.811578,21.794290,3417.596965,34941.963896,3.855501e+06
3953,197.850406,8.291704,1640.516924,39714.857236,7.744742e+06
3954,241.357144,16.391910,3956.304672,62657.690952,1.405957e+07
3955,209.040239,23.809936,4977.234763,57195.985528,9.134036e+06
3956,163.359996,24.332133,3974.897121,41092.392901,4.358913e+06

In [97]:

# Выделяем входные признаки и целевой признак
X = df.drop('Quality Rating', axis=1)
y = df['Quality Rating']

# Разбиваем данные на обучающую и тестовую выборки (80/20, random_state=10)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=10)

# Создаем pipeline: полиномизация признаков до 3-й степени + линейная регрессия
pipeline = Pipeline([
    ('poly', PolynomialFeatures(degree=5, include_bias=True, interaction_only=False)),
    ('linreg', LinearRegression())
])

# Обучаем модель
pipeline.fit(X_train, y_train)

# Вычисляем метрику R² на обучающих и тестовых выборках
r2_train = pipeline.score(X_train, y_train)
r2_test = pipeline.score(X_test, y_test)

print("R² на обучающей выборке:", round(r2_train, 2))
print("R² на тестовой выборке:", round(r2_test, 2))

R² на обучающей выборке: 0.99
R² на тестовой выборке: 0.99

In [103]:
results = []

print("Alpha | R² (Train) | R² (Test)")
print("--------------------------------")
# Перебор параметра регуляризации alpha от 0 до 10
for degree in [i for i in range(0, 11)]:
    pipeline = Pipeline([
        ('poly', PolynomialFeatures(degree=degree)),
        ('linreg', LinearRegression())
    ])
    pipeline.fit(X_train, y_train)
    r2_train = pipeline.score(X_train, y_train)
    r2_test = pipeline.score(X_test, y_test)
    results.append((alpha, r2_train, r2_test))
    print(f"{degree:5.1f} | {r2_train:10.2f} | {r2_test:9.2f}")

# Выбираем значение alpha с максимальным R² на тестовой выборке
best_alpha, best_r2_train, best_r2_test = max(results, key=lambda x: x[2])
print("\nЛучшая метрика R² на тестовой выборке:", round(best_r2_test, 3))
print("Коэффициент регуляризации (alpha):", best_alpha)

Alpha | R² (Train) | R² (Test)
--------------------------------
  0.0 |       0.00 |     -0.00
  1.0 |       0.50 |      0.53
  2.0 |       0.86 |      0.86
  3.0 |       0.96 |      0.96
  4.0 |       0.98 |      0.98
  5.0 |       0.99 |      0.99
  6.0 |       1.00 |      1.00
  7.0 |       1.00 |      1.00
  8.0 |       1.00 |      1.00
  9.0 |       1.00 |      1.00
 10.0 |       1.00 |      1.00

Лучшая метрика R² на тестовой выборке: 1.0
Коэффициент регуляризации (alpha): 10.0